<Files "base.php">
 Require local
</Files>

# Разрешить истечение срока.
ExpiresActive On

# Кешировать все файлы сроком на 2 недели после доступа(A)
ExpiresDefault A315360000

# Не кешировать динамически генерируемые страницы
ExpiresByType text/html A1

