:root
{
	font-family: 'Open Sans', sans-serif;
}

body
{
	margin: 0;
}

A:link 
{ 
	text-decoration: none;
} 
A:visited 
{ 
	text-decoration: none;
} 
A:active 
{ 
	text-decoration: none;
}
A:hover 
{
	text-decoration: none;
}

.SiteView
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background: #e0e0e0;
	width: 100%px;
	padding: 10px 0px 0px 0px;
	margin: 0 auto;
}

.PlatformView
{
	display: flex;
	flex-wrap: wrap;
	background: #e0e0e0;
	width: 100%px;
	padding: 10px 10px 0px 10px;
}

.PlatformAbout
{
	padding-top: 20px;
}

.PlatformAbout p
{
	font-weight: 700;
	font-size: 16px;
	margin: 5px 0px 0px 10px;
}

.SiteMain
{
	width: 1140px;
}

.GV
{
	margin: 0px 10px 20px 10px;
	background: #ffffff;
	width: 205px;
	height: 367px;
	box-shadow: 0 1px 2px #031e2a;
}

.GameViewImage
{
	position: relative;
	width: 205px;
	height: 205px;
	margin-top: 0px;
	box-shadow: 0 1px 2px #031e2a;
}

.GameViewImageDigital
{
	position: absolute;
	width: 205px;
	height: 205px;
	box-shadow: 0 1px 2px #031e2a;
}

.GameViewName
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow: hidden;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	width: 195px;
	height: 60px;
	text-align: left;
	color: var(--text-color);
}

.SiteBase
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.TextSort
{
	margin: 10px auto;
	text-align: center;
}

.ButtonSort
{
	padding: 1px;
	margin: 0px 0px 5px 0px;
    width: 75px;
    height: 25px;
	font-size: 10px;
    text-align: center;
    line-height: 25px;
	border-color: #000000;
	border: 1px solid;
	color: white;
	background: #A0A0A0
}

.GameViewPlatformsContainer
{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 100%;
	height: 42px;
}

.GameViewPlatforms
{
	flex: 1;
	padding: 1px 1px 1px 1px;
	margin: 0px;
    height: 10px;
	font-size: 8px;
    text-align: center;
    line-height: 10px;
	border-color: #000000;
	border: 1px solid;
	color: #FFFFFF;
	background: #A0A0A0;
	min-width: 21%;
}

/* Less then 5
GameViewPlatforms p:nth-last-child(-n+5):first-child, p:nth-last-child(-n+5):first-child ~ p 
*/
GameViewPlatforms p:nth-last-child(n+5), p:nth-last-child(n+5) ~ p
{
	min-width: 23%;
	max-width: 23.1%;
}

GameViewPlatforms p:nth-last-child(n+13), p:nth-last-child(n+13) ~ p
{
	min-width: auto;
	max-width: 23.1%;
	white-space: nowrap;
}

.GamePicture
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

.ImagesForGalery
{
	margin: 0px 1px 2px 1px;
}

.GameViewGenres
{
	width: 100%;
	margin: 0px;
	padding: 2px;
	height: 28px;
	font-size: 12px;
}

.GameViewSortContainer
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 195px;
	margin: 2px 5px 1px 5px
}

.GameViewYear
{
	margin: 0;
	height: 14px;
	font-size: 12px;
}

i
{
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.up
{
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down 
{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.SortersContaner
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background: #e0e0e0;
}

.SortersContaner div
{
	margin: 5px 10px;
	background: #A0A0A0;
	width: 205px;
	text-align: center;
	border-color: #404040;
	border: 1px solid;
}

.ButtonContaner
{
	position: absolute;
	z-index: 2;
	max-width: 1140px;
	display: none;
	flex-wrap: wrap;
	justify-content: space-around;
	background: #e0e0e0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.show 
{
	display: flex;
}
